name: Build Plugins

on: push

jobs:
  build:
    if: ${{ github.repository != 'Artemis-RGB/Artemis.PluginTemplate' && '[ -f .template ]' }}
    runs-on: ubuntu-latest

    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Build
        run: dotnet publish -c Release src
        
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          path: src/Artemis.Plugins.ExtendedNodes/bin/x64/Release/net10.0/publish
